doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Project name
    include partials/_assets_head.jade

  body

    include partials/_header.jade
    include partials/_content.jade
    include partials/_footer.jade

    include partials/_assets_body.jade
